# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = takmnagaya
  email = takmnagaya@gmail.com


[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[alias]
  ad = add
  co = checkout
  b = branch
  l = log
  cb = checkout -b
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
